@model teamProject.Models.Governerate

@{
    ViewData["Title"] = "Edit Governerate";
}

<div class="myMainOwnContaier">
    <div class="container myOwnContaier rounded p-5">
        <div class="row flex-nowrap justify-content-between branchHeader">
            <h2 class="fs-1 col-sm-6">Edit Governerate</h2>
            <h4 class="fs-2 col-sm-6 text-end">Update Governerate Details</h4>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg p-4">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                    <form asp-action="SaveEdit">
                        <input type="hidden" asp-for="Id" />

                        <table class="table table-hover">
                            <tbody>
                                <tr class="p-3 border-top border-bottom">
                                    <td><label asp-for="Name" class="control-label inputLabel"></label></td>
                                    <td>
                                        <input asp-for="Name" class="form-control" placeholder="Enter Name" required />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </td>
                                </tr>
                                <tr class="p-3 border-top border-bottom">
                                    <td><label asp-for="Code" class="control-label inputLabel"></label></td>
                                    <td>
                                        <input asp-for="Code" class="form-control" placeholder="Enter Code" required />
                                        <span asp-validation-for="Code" class="text-danger"></span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="p-3 border-top">
                                    <td><a asp-action="Index" class="btn btn-secondary">🔙 Back</a></td>
                                    <td class="text-end">
                                        <button type="submit" class="btn btn-primary createButton">💾 Save Changes</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
