@model teamProject.viewModel.ClientViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="myMainOwnContaier">
    <div class="container myOwnContaier rounded p-5">
        <div class="row">
            <table class="table table-hover">
                <div asp-validation-summary="All" class="text-danger"></div>
                <form method="post" asp-controller="Client" asp-action="Create">
                <thead class="headerLabel">
                    <tr class="p-3 border-bottom text-center">
                        <th colspan="2">Create Client</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="p-3 border-top border-bottom">
                        <td><label asp-for="Name" class="control-label inputLabel"></label></td>
                        <td>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr class="p-3 border-top border-bottom">
                        <td><label asp-for="Mobile" class="control-label inputLabel"></label></td>
                        <td>
                            <input asp-for="Mobile" class="form-control" />
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr class="p-3 border-top border-bottom">
                        <td><label asp-for="Phone" class="control-label inputLabel"></label></td>
                        <td>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr class="p-3 border-top border-bottom">
                        <td><label asp-for="Address" class="control-label inputLabel"></label></td>
                        <td>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr class="p-3 border-top border-bottom">
                        <td><label asp-for="Email" class="control-label inputLabel"></label></td>
                        <td>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr class="p-3 border-top border-bottom">
                        <td><label asp-for="SSN" class="control-label inputLabel"></label></td>
                        <td>
                            <input asp-for="SSN" class="form-control" />
                            <span asp-validation-for="SSN" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr class="p-3 border-top border-bottom">
                        <td><label asp-for="Service_Id" class="control-label inputLabel"></label></td>
                        <td>
                            <select asp-for="Service_Id" class="form-control" asp-items="Model?.myServiceProviders" id="serviceId">
                                <option value="">-- Select Service --</option>
                            </select>
                            <span asp-validation-for="Service_Id" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr class="p-3 border-top border-bottom">
                        <td><label asp-for="Offer_Id" class="control-label inputLabel"></label></td>
                        <td>
                            <select asp-for="Offer_Id" class="form-control" id="offerId">
                                <option value="">-- Select Offer --</option>
                            </select>
                            <span asp-validation-for="Offer_Id" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr class="p-3 border-top border-bottom">
                        <td><label asp-for="Package_Id" class="control-label inputLabel"></label></td>
                        <td>
                            <select asp-for="Package_Id" class="form-control" id="packageId">
                                <option value="">-- Select Package --</option>
                            </select>
                            <span asp-validation-for="Package_Id" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr class="p-3 border-top border-bottom">
                        <td><label asp-for="Central_Id" class="control-label inputLabel"></label></td>
                        <td>
                            <select asp-for="Central_Id" class="form-control" asp-items="Model?.centrals">
                                <option value="">-- Select Central --</option>
                            </select>
                            <span asp-validation-for="Central_Id" class="text-danger"></span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="p-3 border-top">
                        <td><a asp-action="Index"><i class="bi bi-skip-backward-fill"></i></a></td>
                        <td><input type="submit" value="Create" class="btn btn-primary createButton" /></td>
                    </tr>
                </tfoot>
                </form>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#serviceId').change(function () {
                var selectedServiceId = $(this).val();
                if (selectedServiceId) {
                    $.ajax({
                        url: '@Url.Action("GetAllServicesPackage", "Client")',
                        type: 'GET',
                        data: { id: selectedServiceId },
                        success: function (data) {
                            console.log("pack2");
                            var $packageDropdown = $('#packageId');
                            $packageDropdown.empty();
                            $packageDropdown.append('<option value="">-- Select Package --</option>');
                            $.each(data, function (index, item) {
                                $packageDropdown.append('<option value="' + item.id + '">' + item.name + '</option>');
                            });
                        },
                        error: function () {
                            alert('Error loading packages');
                        }
                    });

                    $.ajax({
                        url: '@Url.Action("GetOfferService", "Client")',
                        type: 'GET',
                        data: { id: selectedServiceId },
                        success: function (data) {
                            console.log("offer2");
                            var $offerDropdown = $('#offerId');
                            $offerDropdown.empty();
                            $offerDropdown.append('<option value="">-- Select Offer --</option>');
                            $.each(data, function (index, item) {
                                $offerDropdown.append('<option value="' + item.id + '">' + item.name + '</option>');
                            });
                        },
                        error: function () {
                            alert('Error loading offers');
                        }
                    });
                } else {
                    $('#packageId').empty().append('<option value="">-- Select Package --</option>');
                    $('#offerId').empty().append('<option value="">-- Select Offer --</option>');
                }
            });
        });
    </script>
}