@model teamProject.viewModel.UserViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="myMainOwnContaier">
    <div class="container myOwnContaier rounded p-5">
        <div class="row">
            <table class="table table-hover">
                <div asp-validation-summary="All" class="text-danger"></div>
                <form method="post" asp-controller="Admin" asp-action="Create">
                <thead class="headerLabel">
                    <tr class="p-3 border-bottom text-center">
                        <th colspan="2">Create User</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="p-3 border-top border-bottom">
                        <td><label asp-for="Name" class="control-label inputLabel"></label></td>
                        <td>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr class="p-3 border-top border-bottom">
                        <td><label asp-for="Email" class="control-label inputLabel"></label></td>
                        <td>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr class="p-3 border-top border-bottom">
                        <td><label asp-for="Address" class="control-label inputLabel"></label></td>
                        <td>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr class="p-3 border-top border-bottom">
                        <td><label asp-for="SelectedRole" class="control-label inputLabel"></label></td>
                        <td>
                            <select asp-for="SelectedRole" class="form-control" asp-items="@(new SelectList(Model.Roles))">
                                <option value="">-- Select Role --</option>
                            </select>
                            <span asp-validation-for="SelectedRole" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr class="p-3 border-top border-bottom">
                        <td><label asp-for="Password" class="control-label inputLabel"></label></td>
                        <td>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr class="p-3 border-top border-bottom">
                        <td><label asp-for="ConfirmPassword" class="control-label inputLabel"></label></td>
                        <td>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="p-3 border-top">
                        <td><a asp-action="Index"><i class="bi bi-skip-backward-fill"></i></a></td>
                        <td><input type="submit" value="Create" class="btn btn-primary createButton" /></td>
                    </tr>
                </tfoot>
                </form>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
