@{
    ViewData["Title"] = "Add Role";
}

<div class="myMainOwnContaier">
    <div class="container myOwnContaier rounded p-5">
        <div class="row flex-nowrap justify-content-between branchHeader">
            <h2 class="fs-1 col-sm-6">Add Role</h2>
        </div>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }

        <div class="row">
            <table class="table table-hover">
                <form asp-action="Add" method="post">
                <thead class="headerLabel">
                    <tr class="p-3 border-bottom text-center">
                        <th colspan="2" class="fs-3">Add Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="p-3 border-top border-bottom">
                        <td><label for="roleName" class="control-label inputLabel">Role Name</label></td>
                        <td>
                            <input type="text" name="roleName" class="form-control" required />
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="p-3 border-top">
                        <td>
                            <a asp-action="Index">
                            <i class="bi bi-skip-backward-fill"></i>
                            </a>
                        </td>
                        <td>
                            <input type="submit" value="Create" class="btn btn-primary createButton" />
                        </td>
                    </tr>
                </tfoot>
                </form>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
