
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Role Name</label>
        <input type="text" name="roleName" class="form-control" required />
    </div>
    <button asp-action="Add" type="submit" class="btn btn-success mt-2">Add</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Back To List</a>
</form>


