@model teamProject.viewModel.ReceitViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="myMainOwnContaier">
    <div class="container myOwnContaier rounded p-5">
        <div class="row flex-nowrap justify-content-between branchHeader">  
            <h2 class="fs-1 col-sm-6 ">Reciet</h2>
        </div>

        <div class="row my-4 recietSerach">
            <input asp-for="Phone" class="form-control col-sm-6 w-25" id="phoneNumber" placeholder="Phone ..."/>
            <input type="submit" value="Search" class="col-sm-6 w-25 mx-5" id="searchBtn" />
        </div>

        <div class="row mt-5">
            <table class="table table-hover">
                <thead>
                    <tr class="p-3 border-top border-bottom pt-3 pt-3">
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Mobile</th>
                        <th>Service Provider</th>
                        <th>Package Name</th>
                        <th>Package Price</th>
                        <th>Offer Name</th>
                        <th>Offer Status</th>
                        <th>Total Price</th>
                        <th>Start Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="name"></td>
                        <td id="address"></td>
                        <td id="phone"></td>
                        <td id="mobile"></td>
                        <td id="serviceProviderName"></td>
                        <td id="packageName"></td>
                        <td id="packagePrice"></td>
                        <td id="offerName"></td>
                        <td id="offerStatus"></td>
                        <td id="totalPrice"></td>
                        <td id="startDate"></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <input id="clientid" hidden/>
                <input type="submit" value="Paid" id="paidBtn" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
               $(document).ready(function () {

            $('#searchBtn').click(function (e) {
                e.preventDefault(); // Prevent the default form submission
                var phoneNumber = $('#phoneNumber').val();
                if (phoneNumber) {
                    $.ajax({
                        url: '@Url.Action("GetClientDetails", "Reciet")',
                        type: 'GET',
                        data: { phoneNumber: phoneNumber },
                        success: function (data) {
                            $('#phone').text(data.phone);
                            $('#address').text(data.address);
                            $('#offerStatus').text(data.offerStatus);
                            $('#startDate').text(data.start_Date);
                            $('#name').text(data.name);
                            $('#mobile').text(data.mobile);
                            $('#offerName').text(data.offerName);
                            $('#packageName').text(data.packageName);
                            $('#packagePrice').text(data.package_Price);
                            $('#totalPrice').text(data.total_Price);
                            $('#serviceProviderName').text(data.serviceProviderName);
                            $('#clientid').val(data.client_Id);
                        },
                        error: function () {
                            alert('Error retrieving data.');
                        }
                    });
                } else {
                    // Clear the table if no client is selected
                    $('#clientDetails td').text('');
                }
            });

            $('#paidBtn').click(function (e) {
                e.preventDefault(); // Prevent default form submission
                var clientId = $('#clientid').val();

                console.log(clientId);
                if (clientId) {
                    $.ajax({
                        url: '@Url.Action("Paid", "Reciet")',
                        type: 'GET',
                        data: { clientId: clientId },
                        success: function (data) {
                            // Handle the data returned by the Paid action
                            $('#phone').text(data.phone);
                            $('#address').text(data.address);
                            $('#offerStatus').text(data.offerStatus);
                            $('#startDate').text(data.start_Date);
                            $('#name').text(data.name);
                            $('#mobile').text(data.mobile);
                            $('#offerName').text(data.offerName);
                            $('#packageName').text(data.packageName);
                            $('#packagePrice').text(data.package_Price);
                            $('#totalPrice').text(data.total_Price);
                            $('#serviceProviderName').text(data.serviceProviderName);
                            $('#client').val(data.clientId); // Update client hidden input if needed
                        },
                        error: function () {
                            alert('Error retrieving data.');
                        }
                    });
                } else {
                    $('#clientDetails td').text(''); // Clear the details if no client ID
                }
            });
        });

    </script>
}


